= form_for [@ticket, @ticket_history] do |f|
  - if @ticket_history.errors.any?
    #error_explanation
      %h2= "#{pluralize(@ticket_history.errors.count, "error")} prohibited this ticket from being saved:"
      %ul
        - @ticket_history.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :message
    = f.text_area :message, class: 'form-control'
  .form-group
    = f.submit 'Save', class: 'btn btn-success'
