= form_for @ticket do |f|
  - if @ticket.errors.any?
    #error_explanation
      %h2= "#{pluralize(@ticket.errors.count, "error")} prohibited this ticket from being saved:"
      %ul
        - @ticket.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :customer_name
    = f.text_field :customer_name, class: 'form-control'
  .form-group
    = f.label :customer_email
    = f.text_field :customer_email, class: 'form-control'
  .form-group
    = f.label :subject
    = f.text_field :subject, class: 'form-control'
  .form-group
    = f.label :message
    = f.text_area :message, class: 'form-control'
  .form-group
    = f.submit 'Save', class: 'btn btn-success'
