%h1 Listing tickets

%table
  %thead
    %tr
      %th Sub
      %th Customer name
      %th Customer email
      %th Subject
      %th Message
      %th
      - if current_user && current_user.can_edit?
        %th
        %th
      
  %tbody
    - @tickets.each do |ticket|
      %tr
        %td= ticket.sub_id
        %td= ticket.customer_name
        %td= ticket.customer_email
        %td= ticket.subject
        %td= ticket.message
        %td= link_to 'Show', ticket

%br

= link_to 'New Ticket', new_ticket_path
