%h1 Listing tickets

%table.table.table-striped
  %thead
    %tr
      %th Id
      %th Subject
      %th Customer name
      %th Status
      %th Owner

  %tbody
    - @tickets.each do |ticket|
      %tr
        %td= link_to ticket.sub_id, ticket
        %td= ticket.subject
        %td= ticket.customer_name
        %td= ticket.status.name
        %td= ticket.owner_name

%br

= link_to 'New Ticket', new_ticket_path, class: "btn btn-primary"
