%p#notice= notice


%dl.dl-horizontal
  %dt Sub:
  %dd= @ticket.sub_id

  %dt Status:
  %dd= @ticket.status.name

  %dt Customer name:
  %dd= @ticket.customer_name

  %dt Customer email:
  %dd= @ticket.customer_email

  %dt Subject:
  %dd= @ticket.subject

  %dt Message:
  %dd= @ticket.message

  %dt Owner:
  %dd= @ticket.owner_name


= render 'ticket_histories/index'

- if user_signed_in? && current_user.can_edit?
  = render 'ticket_histories/form'
  = link_to 'Back', tickets_path, class: "btn btn-primary"
- else
  = render 'ticket_histories/user_form'
